{
  "presets": ["es2015-node4", "es2017", "react"],
  "plugins": [
    "add-module-exports",
    "transform-class-properties",
    "transform-object-rest-spread",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": false
    }]
  ]
}
