---
title: "Build Boiler"
isomorphic_data: "mock_data"
userName: "BlEEEEEEEEPPPPP" # test for YFM override of app data
---

{% debug key="userName" %}

{% extends layouts('default') %}
{% import macros('isomorphic-comp') as ext %}
{% from macros('test') import test as testMacro %}
{% from macros('input') import input as inputMacro %}

{% block main %}
  <div class="container">
    {{ inputMacro('givenName', 'text') }}
    {{ inputMacro('lastName', 'text') }}
    {{ inputMacro('whatever', 'text') }}
    {{ ext.iso(environment, props, 'data-isomorphic', ['sample','another-sample'], 'wrapper') }}
    {{ testMacro('bloop') }}
  </div>
{% endblock %}
