<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>{{title}}</title>

    {% get_asset type='pantsuit' %}
    {% get_asset type='css' %}
  </head>
  <body>
    <div class="body">
      {% block main %}
      {% endblock %}
    </div>

    <script>window.userName = "{{userName}}"</script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    {% get_asset type='js' %}
  </body>
</html>
