<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>{{title}}</title>

    {% get_asset type='pantsuit' %}
    {% get_asset type='css', integrity=true %}
  </head>
  <body>
    <div class="body">
      {% block main %}
      {% endblock %}
    </div>

    <script>window.userName = "{{userName}}"</script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    {% if globalStore and not environment.isDev %}
      {% build_boiler_globals name='_fluxStore', data=globalStore %}
    {% endif %}

    {% get_asset type='js', integrity=true %}
  </body>
</html>
